body {
    background-color: lightblue;
    width: 1200px;
}

header {
    text-align: center;
    width: 1200px;
    margin-left:120px;
}

main {
    display: flex;
}

.searchContainer {
    width: 300px;
    height: 300px;
}

.searchContainer h2 {
    margin-left: 10px;
}

#searchValue {
    margin-left: 10px;
}

.cityList {
    width: 70%;
    padding-left: 0px;
    margin-left: 12px;
    list-style: none;
    text-align: center;
}

.cityList li {
    border: 1px solid black;
    background-color: lightgrey;
    margin-top: 5px;
    width: 80%;
}

.cityList button {
    float: right;
    margin-top: -1px;
    margin-right: -2px;
    height: 20px;
}

.cityList li:hover{
    cursor: pointer;
}

.weatherContainer {
    width: 800px;
    float: left;
    margin-left: 30px;
}

.weatherContainer img {
    float:left;
}

.forecastContainer div {
    float: left;
    width: 135px;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 20px;
    background-color: rgb(80, 152, 177);
    border-radius: 10px;
    
}

.forecastContainer div p {
    padding-left: 10px;
}

.forecastContainer div img {
    padding-left: 17px;
}

div:empty { 
    border: none;
}

.forecastContainer div h2 {
    text-align: center;
}